<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Iot-Lab</title>
    <!-- JQuery -->

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- carregando icones -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <!-- incluindo css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="images/walmart.ico"/>
</head>

<body>
<nav class="pushpin-demo-nav" data-target="blue">
    <div class="nav-wrapper light-blue">
        <button href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light btn-large blue"><i
                    class="material-icons">menu</i></button>
    </div>
</nav>
<!-- parallax no começo -->
<div class="parallax-container">
    <div class="parallax">
        <img src="images/inatel2.jpg">
    </div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Laboratorio de Iot</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this
                                                     case, is moved at a different speed than the foreground content
                                                     while scrolling.</p>
    </div>
</div>

<!--parallax depois do texto -->

<div class="parallax-container">
    <div class="parallax">
        <img src="images/inatel.jpg">
    </div>
</div>

<!--SlideNav -->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view" id="user_view">
            <div class="background">
                <img src="images/background.jpg">
            </div>
            <a href="#!user"><img class="circle" src="images/perfil.jpg"></a>
            <a href="#!name"><span class="white-text name">Carlos Ynoguti</span></a>
            <a href="#!email"><span class="white-text email">ynoguti@inatel.br</span></a>
        </div>
    <li><a href="/">Home<i class="material-icons">home</i></a></li>
    <li><a href="/">Team<i class="material-icons">group</i></a></li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">projects<i class="material-icons">add</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/indoor_cadastro_beacon">Indoor</a></li>
                        <li><a href="/indoor_cadastro_scanner">Consumption</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="#!">Config<i class="material-icons">build</i></a></li>
</ul>
<!-- import jquery -->
<script src="js/jquery-2.2.1.js"></script>
<!-- import materialize -->
<script src="js/materialize.min.js"></script>
<!-- sidebar -->
<script src="js/sidebar.js"></script>
<!-- parallax ficar abaixo do import do materialize-->
<script src="js/parallax.js"></script>
<!-- import bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<!-- import socket.io -->
<script src="/socket.io/socket.io.js"></script>
</body>
</html>
