<!doctype html>
<html>
<head>
<title>Walmart login</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href = "./cadastro.css">
    <meta charset="utf-8" />
    <script src= "jquery-3.2.1.js"></script>
    <script src= "./login.js"></script>

</head>
<body>
    <div class ="jumbotron" id="formulario">
        <div class= "espaco">
        </div>
        <div class="txt">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <label for= "id">Login: </label><input placeholder= "Entre com este campo" class= "form-control" id ="nome" size="auto" type="text"/>
            </div>      
            <div class ="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <label for= "senha">Senha </label><input placeholder= "Entre com este campo" class ="form-control" id ="senha" size="auto" type="text"/>
            </div>
        </div>
        <button class ="button button1" id= "buttonSave">Login</button>
</body>
</html>